.c_Profile {
    &-name {
    }

    &-username {
    }
}

body.Section-Profile {
    .c_Content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include min-width($breakpoint-tablet) {
            display: block;
        }

        .DismissMessage {
            width: 100%;
            order: -1;
        }

        .c_Panel--top {
            display: flex;
            align-items: center;
            flex: 1;
            margin-bottom: 12px;
            margin-top: 6px;

            @include min-width($breakpoint-tablet) {
                display: none;
            }
        }

        .c_Profile-photo {
            & > * {
                display: none;
            }
            > .Photo {
                display: block;
                height: 80px;
                width: auto;
                float: left;

                img {
                    height: 80px;
                    width: auto;
                }
            }
        }

        .ProfileOptions {
            float: none;

            @include max-width($breakpoint-tablet) {
                margin: 0;
            }

            @include min-width($breakpoint-tablet) {
                float: right;
            }

            .MemberButtons {
                @include Button();
            }

            .ProfileButtons {
                @include Button();
            }
        }

        .c_Profile-name {
            margin-left: 12px;
        }

        .c_Profile-username {
            margin: 0;
            margin-top: 8px;
        }

        .c_Profile-rank {
            text-transform: uppercase;
            color: $color-black--text;
        }
    }

    @include min-width($breakpoint-tablet) {
        .c_Content {
            width: calc(100% - #{$frame-panel-width} - 18px);
            float: left;
        }

        .c_Panel {
            width: $frame-panel-width;
            float: right;
            padding: 18px;
            margin-left: 18px;
            background: $color-brand-white;

            li {
                background: none !important;
            }

            a:hover {
                color: darken($color-black--text, 20%);
            }

            .ChangePicture:hover {
                color: $color-white;
            }

            .Active > a:hover {
                color: $color-brand-primary;
            }
        }
    }

    .About.P {
        clear: both;
    }

    .ProfileOptions {

    }

    @include max-width($breakpoint-tablet) {
        .c_Panel--top {
            display: block;
        }

        .User h1 {
            display: none;
        }

        .ProfileOptions {
            margin-top: 22px;
        }
    }

    .c_Panel--bottom {
        @include max-width($breakpoint-tablet) {
            & > .PhotoWrap {
                display: none;
            }
        }
    }

    .SearchBox {
        display: none;
    }

    .c_Content .BoxProfileFilter {
        display: none;
    }

    .User > #Status {
        display: none;
    }

    .Profile {
        padding-top: 2px;
    }

    .Profile h2 {
        display: flex;
        align-items: center;
        font-size: $form-button-font-size;
        font-weight: bold;
        text-transform: uppercase;

        &::after {
            content: "";
            height: 1px;
            margin-top: 4px;
            margin-left: 12px;
            flex: 1;
            background: $color-border;
        }

        .H {
            clear: both;
        }
    }

    .Box li {
        border: none;
    }

    .About.P .About {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .About.P .About,
    .DataCounts,
    .FormWrapper,
    .FormTitleWrapper,
    .change-picture,
    &.quotes .Frame-content form {
        background: $color-white;
        padding: $profile-section-padding;
        margin-bottom: 24px;
    }

    .DataCounts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .CountItemWrap {
        text-align: center;
        width: 60px;

        .TextColor {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: inherit;
        }

        .CountTotal {
            display: block;
            width: 100%;
        }
    }

    .Profile {
        dl {
            @include clearfix;
            width: 100%;
            padding: 6px 0;
        }

        dd,
        dt {
            display: inline-block;
            float: left;
            background: none;
            padding: 0;
            font-size: $form-button-font-size;
            line-height: 24px;
            margin-bottom: 6px;
        }

        dt {
            width: 25%;
            font-weight: bold;
        }

        dd {
            width: 75%;
            display: inline-block;
            padding-left: 6px;
        }
    }
}

body.Section-EditProfile {
    &.signature {
        .FormTitleWrapper form li {
            width: 100%;
        }
    }

    table.PreferenceGroup {
        width: 100%;

        * {
            line-height: 32px;
        }
    }

    .SelectWrapper {
        max-width: 500px;
    }
}
