$color-brand-primary: #009CA7;
$color-brand-primary--dark: #006C77;
$color-brand-accent: #F0B323;
$dimen-border-radius: 6px;
$dimen-content-width: 1200px;
$color-white: #FFF;

$header-hamburger-padding: 6px;
$header-hamburger-background: $color-brand-primary;
$header-hamburger-color: $color-white;
$header-hamburger-background-radius: $dimen-border-radius;
$header-hamburger-stroke-size: 2px !default;
$header-hamburger-stroke-width: 20px;
$header-hamburger-stroke-radius: 1px;

$font-base-family: "Avenir", "Helvetica", sans-serif;
$font-heading-size--small: 15px;
$font-heading-size--secondary: 20px;
$font-top-offset: 0.2em;

$color-black--text: rgba(#484848, 0.84);

$form-button-background-color: $color-brand-accent;
$form-button-border: none;
